<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <a class="btn btn-warning" onclick="bolsa()" href="#">Mi bolsa</a>
        </div>
    </nav>
    <div id="carga" class="abs-center"></div>
    <div class="row mt-4 ml-4" id="op">
        <% for (let i = 0; i < cs.length; i++) {
    
    %>

            <div class="col-md-3 d-flex">
                <div class=" card text-center" style="width: 18rem;">
                    <!-- <form id="form" method="POST" action="/pagar"> -->
                    <div class="form-group">
                        <img src='<%= cs[i].img%>' style="width: 100% !important; height: 50% !important" class="card-img-top " alt="... ">
                        <div class="card-body">
                            <h5 class="card-title titulo">
                                <%= cs[i].titulo%>
                            </h5>
                            <input type="text" name="precio" value="<%= cs[i].precio%>" hidden>
                            <p class="card-text desc">
                                $
                                <%= cs[i].precio%>
                            </p>
                            <!-- <button id="btnPagar" type="submit" onclick="data('<%= cs[i].precio%>')">pagar</button> -->
                            <!-- <a href="/pagar" class="btn btn-info">pagar</a> -->
                            <input class="btn btn-primary btnPagar" type="submit" onclick="guardar('<%= cs[i].precio%>', '<%= cs[i].titulo%>', '<%= cs[i].img%>')" value="Agregar a mi bolsa">
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>

            <%}%>
    </div>


    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
    <script src="assets/js/jquery.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script> -->
    <script src="assets/js/bootstrap.min.js "></script>
    <script src="assets/js/main.js "></script>
    <script src="assets/js/bolsa.js "></script>
    <!-- <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T " crossorigin="anonymous "> -->

</body>

</html>